{% extends 'inscriptions/base.html' %}
{% block content %}
  {% if inscription_status == 1 %}
    <div class="reussi">
      {% load static %}
      Inscription réussie !<br>
      <img class="robopoly_logo" src="{% static 'inscriptions/logo_anime_2.gif' %}" alt=""><br>
    </div>
  {% else %}
    <div class="echec">
      L'inscription n'a pas pu se faire en raison d'un problème :'-(<br>
      Erreur: {{ descr_error }}
    </div>
  {% endif %}
  <form class="new_inscription" action="{% url 'inscriptions:index' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Nouvelle inscription">
  </form>
{% endblock %}
